.ResearchList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding-top: 100px;
}
.ResearchList .researchItems{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    background: #eee;
    margin: 15px 0;
}
.researchItems .researchItem{
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 20px;
    margin-bottom: 10px;
}
.researchItems .researchItem input{
    margin: 0 5px 0 0;
}
.researchItems .researchItem label{
    cursor: pointer;
}
